body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 50%;
  height: 33.33vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

h1,
h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: monospace;
  width: 80%;
  padding: 3px;
}

h2 {
  font-size: 16px;
}

main {
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

main h1 {
  font-size: 24px;
}

.close {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 65px;
  color: white;
  border-radius: 50%;
  line-height: 40px;
  font-kerning: 11px;
  font-family: -webkit-pictograph;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

main button:active {
  color: red;
}

.loading {
  font-size: 48px;
  font-family: monospace;
}
